* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: serif;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.header {
  background: linear-gradient(135deg, #4ebefe 0%, #378fd9 100%);
  padding-top: 60px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 100px;
}

.header .logo {
  display: block;
}

.header__dream {
  padding-bottom: 140px;
}

.heder__title {
  max-width: 560px;
  font-family: "Ubuntu", sans-serif;
  color: white;
  font-size: 37px;
  line-height: 1.32em;
  font-weight: 700;
}

.dream {
  font-size: 59px;
  line-height: 1.23em;
}

.header__text {
  margin-top: 48px;
  max-width: 400px;
  color: white;
  font-size: 16px;
  line-height: 1.69em;
  font-weight: 400;
}

.btn {
  display: block;
  width: 220px;
  margin-top: 45px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-decoration: none;
  color: black;
  background: #ffd429;
  text-align: center;
}

.img__travel {
  display: block;
}

.future {
  background: white;
  padding-top: 110px;
}

.future__title,
.order__title {
  margin: 0 auto;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: black;
}

.future__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  padding-bottom: 120px;
}

.futur__ithem {
  padding-top: 90px;
  background: url(../img/icon1.gif) top center no-repeat;
}

.future__subtitle {
  font-family: "Ubuntu", sans-serif;
  font-size: 19px;
  font-weight: 700;
  color: black;
  text-align: center;
}

.future__text {
  max-width: 285px;
  font-family: "Ubuntu", sans-serif;
  padding-top: 17px;
  text-align: center;
  line-height: 1.47em;
  font-weight: 400;
}

.ithem_two {
  background: url(../img/icon2.gif) top center no-repeat;
}

.ithem_three {
  background: url(../img/icon3.gif) top center no-repeat;
}

.order {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #ecf3f8;
  margin: 0 auto;
}

.order_form {
  display: flex;
  margin-top: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__row {
  width: 340px;
  height: 45px;
  margin-bottom: 15px;
  border: 1px solid #bbb;
  border-radius: 3px;
  padding-left: 25px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

.btn.submit_btn {
  border: none;
  width: 340px;
  margin: 0;
  cursor: pointer;
}

.footer {
  background: #164d7a;
  padding: 65px 0;
}

.footer__text {
  color: white;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
    margin: 0 auto;
  }

  .header__wrapper {
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
  }

  .header__dream {
    width: 100%;
    padding: 0;
  }

  .header__text {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
    margin: 0 auto;
  }

  .future__wrapper {
    flex-direction: column;
  }

  .future__text {
    margin: 0 auto;
    text-align: center;
  }

  .img__travel {
    max-width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 90%;
    margin: 0 auto;
  }
  .header__wrapper {
    max-width: 90%;
  }

  .order_form {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 60px;
  }

  .form__row {
    width: 100%;
  }


.btn.submit_btn {
  width: 100%;
}
}
